<div class="card border-primary mt-5">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Clientes</h5>

      <div class="mt-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">Crear cliente</button>
      </div>

      <div *ngIf="clients?.length == 0" class="alert alert-info">
        No hay registros en a base de datos!
      </div>
      <table class="table table-bordered table-striped mt-2" *ngIf="clients?.length>0">
          <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.lastName}}</td>
                <td>{{client.email}}</td>
                <td>{{client.createAt}}</td>
                <td>
                  <button class="btn btn-primary btn-sm" [routerLink]="['/clients/form',client.id]" type="button" name="edit">editar</button>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)='delete(client)' type="button" name="delete">eliminar</button>
                </td>
            </tr>
          </tbody>
      </table>
    </div>
</div>
