<div class="card bg-dark text-white mt-5">
  <div class="card-header">
    {{ title }}    
  </div>
  <div class="card-body">
<!--<form (ngSubmit)="create()"> -->
    <form>
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="lastName" class="col-form-label col-sm-2">Apellidos</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastName"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Mail</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="client.email" name="email"/>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
            <button *ngIf="!client.id else elseBlock" class="btn btn-primary" role="button" (click)="create()">Crear</button>
        </div>
      </div>
      <ng-template #elseBlock>
        <button  class="btn btn-primary" role="button" (click)="update()">Editar</button>
      </ng-template>
    </form>
  </div>
</div>
